<div class="jumbotron bg-info">
    <h1>Welcome to Login Registration</h1>
</div>

@* this is bringing in the PArtial _Register *@
<div class="row">
    <div class="col-lg-8 mb-4">
        <partial name="_Register" /> @* matches up with _Register *@
    </div>
    <div class="col-md-4 mb-4"> @* mb4 is for the margin bottom, gives it gap at bottom *@
        <partial name="_Login" />
    </div>
</div>